@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
</div>

<table class="table table-sm ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Count</th>
      <th scope="col">Price per coin</th>
      <th scope="col">Total Value</th>
    </tr>
  </thead>
  <tbody id='coin-summary-rows'>
@foreach ((var s, var p) in Model.OrderedSummaries) 
{
    <tr>
      <td id='coin-type'>
        <button id='coin-type-filter-button' type="button" class="btn btn-secondary btn-sm"
          value='@s.CoinType'
        >
          @s.CoinType
        </button>
      </td>
      <td>@s.CoinCount.ToString("G29")</td>
      <td>@p?.PerCoinCost.ToString("c")</td>
      <td>@(p?.PerCoinCost != null ? (p.PerCoinCost * s.CoinCount).ToString("c") : "")
    </tr>
}
  </tbody>
</table>