@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
</div>

<table class="table table-sm ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody id='coin-summary-rows'>
@foreach (var t in Model.OrderedSummaries) 
{
    <tr>
      <td id='coin-type'>
        <button id='coin-type-filter-button' type="button" class="btn btn-secondary btn-sm"
          value='@t.CoinType'
        >
          @t.CoinType
        </button>
      </td>
      <td>@t.CoinCount</td>
    </tr>
}
  </tbody>
</table>